@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* COLOR-SCHEME */

.light {
    --mainColor: #F5E8D8;
    --hoverColor: #F5EFFF;
    --backgroungimage: linear-gradient(to bottom, lightpink, lightblue);
    --darkOne: #0A173E;
    --darkTwo: #393939;
    --lightOne: #444444;
}

.dark{
    --mainColor: #535151;
    --hoverColor: rgb(31, 30, 30);
    --backgroungimage: linear-gradient(to bottom,#303035, #000000);
    --darkOne: #E0E0E0;
    --darkTwo: #FFF7F3;
    --lightOne: #e2dddd;
}

/* GENERAL */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}

body{
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

.stop-scrolling{
    height: 100%;
    overflow: hidden;
}


.whole-page {
    position: relative;
    padding: 2rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    background-image: var(--backgroungimage);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
}

section{
    padding-top: 4vh;
    height: 96vh;
    min-height: fit-content;
    place-content: center;
    place-items: center;
}


.container {
    position: relative;
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
}

header {
    position: relative;
    z-index: 70;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.overlay {
    display:none;
}

.links {
    flex-basis: 80%;
}

.links ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color:var(--darkTwo);
    transition: 0.5s;
    cursor: pointer;
}


.links a:hover{
    color: var(--hoverColor);
    text-decoration: underline;
    text-underline-offset: 1rem;
    transform: scale(1.05);
}

.hamburger-menu{
    position:fixed;
    top:0;
    right:0;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

.hamburger-menu .bar{
    position: relative;
    width: 100%;
    height: 4px;
    background-color: var(--darkOne);
    border-radius: 3px;
    transition: 0.3s;
}

.bar::before, 
.bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--darkOne);
    border-radius: 3px;
    transition: 0.3s;
}

.bar::before{
    transform: translateY(-8px);
}

.bar::after{
    transform: translateY(8px);
}

.whole-page.active .hamburger-menu .bar{
    background-color: transparent;
}

.whole-page.active .bar::before{
    transform: translateY(0) rotate(-45deg);
}

.whole-page.active .bar::after{
    transform: translateY(0) rotate(45deg);
}


#home .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    place-items: center;
}

.home-left{
    max-width: 500px;
    place-content: center;
    place-items: center;
}

.main-title h1{
    text-align: center;
    font-size: 3rem;
    color: var(--darkOne);
}

.home-left .content{
    text-align: center;
}

.content{
    color: var(--lightOne);
    margin: 2rem 0;
    max-width: 430px;
    line-height: 1.5;
    text-align: left;
    justify-content: center;
}

.resume {
    place-content: center;
    place-items: center;
}

.btn {
    display: flex;
    background-color: var(--mainColor);
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--hoverColor);
}

#socials{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    margin: 1rem 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
    margin: 0 4px;
}

.home-right .loved-things{
    max-width:100%;
}

#about .container{
    display: flex;
    position:relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.about-title {
    text-align: center;
    font-size: 3rem;
    color: var(--darkOne);
}

.my-pic {
    max-width: 500px;
    max-height: 500px;
}

.brief{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--darkOne);
    padding: 3rem;
    border-radius: 9rem 5rem 12rem 7rem;
    rotate: 3deg;
}

.brief p{   
    rotate: -3deg;
}

#about .arrow {
    display: block;
    position: absolute;
    right: 0;
    font-size: 2rem;
    color: var(--darkTwo);
    cursor: pointer;
}

#my-learning .container{
    display: grid;
    position:relative;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit,1fr);
    grid-gap: 20px;
    width: 100%;
    min-height: fit-content;
}

.box1 {
    grid-column-end: span 4;
    place-content: center;
    place-items: center;
}

.box1 .content{
    max-width: 95%;
}

.box {
    display: grid;
    grid-template-columns: subgrid;
}

.box .item1{
    align-self: flex-start;
}

.box .resume{
    align-self: flex-end;
}

#my-learning .arrow {
    display: block;
    position: absolute;
    right: 0;
    font-size: 2rem;
    color: var(--darkTwo);
}


#project-section .container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
}

#project-section .details-container{
    display: flex;
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 1.5rem 0;
    border: 2px solid var(--darkOne);
    border-radius: 2rem;
}

.article {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--darkTwo);
}

#project-section .resume {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

#project-section img {
    width: 300px;
    height: 300px;
    object-fit: fill;
}

.resume button{
    text-decoration: none;
    color:var(--darkTwo);
    transition: 0.5s;
    cursor: pointer;
}

#project-section .arrow {
    display: block;
    position: absolute;
    right: 0;
    font-size: 2rem;
    color: var(--darkTwo)
}

.sub-heading{
    text-align: center;
    cursor: pointer;
}

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

#contact .container{
    width: 30vw;
}

.contact-info{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    background: var(--mainColor);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-detail{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-detail .mail {
    font-size: 1.2rem;
    margin-top: 10px;
}

.contact-info-detail p{
    font-size: larger;
}

.contact-info-detail .icon{
    cursor: default;
}

footer .container{
    position:relative;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

footer .arrow {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    font-size: 2rem;
    color: var(--darkTwo)
}

footer .content{
    min-width: 100%;
    text-align: center;
}

.toggle-button{
    display: inline-block;
    border: none;
    background: var(--mainColor);
    color: var(--darkTwo);
    outline: none;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    place-content: center;
    place-items: center;
    margin-left: 10px;
}

.whole-page.light .toggle-button i:last-child{
    display:none;
}

.whole-page.light .toggle-button i:first-child{
    display:block;
}

.whole-page.dark .toggle-button i:last-child{
    display: block;
}

.whole-page.dark .toggle-button i:first-child{
    display:none;
}

.toggle-button:hover{
    background-color: var(--hoverColor);
}

.copy{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes appear{
    0% {
        clip-path: circle(30% at -25% -25%);
    }
    100% {
        clip-path: circle(150% at 0 0);
    }
}

@media only screen and (max-width: 1300px) {
    .box1 {
        grid-column: span 2;
    }

    .box {
        place-content: center;
        place-items: center;
    }

    .item1 .content{
        max-width: fit-content;
        margin: 0 20px;
    }

    #about .arrow{
        display: none;
    }
    #my-learning .arrow{
        display: none;
    }

    #project-section .arrow{
        display: none;
    }

    #contact .container{
    width: fit-content;
    }

    .contact-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}
    

@media only screen and (max-width: 870px) {
    #home .container {
        grid-template-columns: 1fr;
    }

    .home-right {
        margin-top: 20px;
    }

    #about .container{
        flex-direction: column;
        justify-content: center;
    }

    .my-pic {
    max-width: 300px;
    max-height: 300px;
    }

    .brief {
        padding: 0rem;
        border: none;
        rotate: 0deg;
    }

    .brief p{   
    rotate: -0deg;
    }

    .box1 {
        grid-column: span 1;
    }

    header .container{
        justify-content: right;
        align-items: right;
    }   
    .hamburger-menu{
        display: flex;
    }

    .links{
        position: fixed;
        z-index:95;
        top: 0;
        right:0;
        max-width: 450px;
        width: 100%;
        height: 100%;
        background-color: var(--mainColor);
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
    }

    .links ul{
        flex-direction: column;
    }

    .links li{
        margin-left: 0;
        padding: 2rem 0;
    }

    .overlay{
        display: block;
        position: fixed;
        top: 0;
        bottom:0;
        left:0;
        right:0;
        border-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) fill 1;
        opacity: 0;
        pointer-events: none;
    }

    .whole-page.active .links{
        transform:translateX(0);
        box-shadow: 0 0 50px 2px rgba(0,0,0,0.4);
    }

    .whole-page.active .overlay{
        pointer-events: all;
        opacity: 1;
    }

    #project-section img {
        width: 180px !important;
        height: 250px !important;
        object-fit: fill;
    }
    
}


