@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* COLOR-SCHEME */

.light {
    --mainColor: #F5E8D8;
    --hoverColor: #F5EFFF;
    --backgroungimage: linear-gradient(to bottom, lightpink, lightblue);
    --darkOne: #0A173E;
    --darkTwo: #393939;
    --lightOne: #444444;
}

.dark{
    --mainColor: #535151;
    --hoverColor: rgb(31, 30, 30);
    --backgroungimage: linear-gradient(to bottom,#303035, #000000);
    --darkOne: #E0E0E0;
    --darkTwo: #FFF7F3;
    --lightOne: #e2dddd;
}

/* GENERAL */

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
}

body{
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

.stop-scrolling{
    height: 100%;
    overflow: hidden;
}


.whole-page {
    position: relative;
    padding: 2rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    background-image: var(--backgroungimage);
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: space-between;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

section{
    padding-top: 4vh;
    height: auto;
    min-height: 96vh;
    place-content: center;
    place-items: center;
}


.container {
    position: relative;
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
    z-index: 10;
}

header {
    position: relative;
    z-index: 70;
}

header .container{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
}

.overlay {
    display:none;
}

.links {
    flex-basis: 80%;
}

.links ul {
    display: -webkit-flex;
    display: flex;
    list-style: none;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    font-size: 1.1rem;
}

a {
    text-decoration: none;
    color:var(--darkTwo);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}


.links a:hover{
    color: var(--hoverColor);
    text-decoration: underline;
    text-underline-offset: 1rem;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.hamburger-menu{
    position:fixed;
    top:0;
    right:0;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    display: -webkit-flex;
    display:flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-evenly;
    justify-content: center;
    cursor: pointer;
    display: none;
}

.hamburger-menu .bar{
    position: relative;
    width: 100%;
    height: 4px;
    background-color: var(--darkOne);
    border-radius: 3px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.bar::before, 
.bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--darkOne);
    border-radius: 3px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.bar::before{
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.bar::after{
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
}

.whole-page.active .hamburger-menu .bar{
    background-color: transparent;
}

.whole-page.active .bar::before{
    -webkit-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
}

.whole-page.active .bar::after{
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
}


#home .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    place-items: center;
}

.home-left{
    max-width: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.main-title h1{
    text-align: center;
    font-size: 3rem;
    color: var(--darkOne);
}

.home-left .content{
    text-align: center;
}

.content{
    color: var(--lightOne);
    margin: 2rem 0;
    max-width: 430px;
    line-height: 1.5;
    text-align: left;
    justify-content: center;
}

.resume {
    display: grid;
    justify-content: center;
    align-items: center;
}

.btn {
    display: -webkit-flex;
    display: flex;
    background-color: var(--mainColor);
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--hoverColor);
}

#socials{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    margin: 1rem 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
    margin: 0 4px;
}

.home-right .loved-things{
    max-width:100%;
}

#about .container{
    position:relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: center;
    align-items: center;
    margin: 20px auto;
}

.about-title {
    text-align: center;
    font-size: 3rem;
    color: var(--darkOne);
}

.my-pic, .brief {
    flex: 1 1 45%;
    min-width: 0;
    max-width: 500px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 10px;
}

.brief{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    border: 2px solid var(--darkOne);
    padding: 3rem;
    border-radius: 9rem 5rem 12rem 7rem;
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.brief p{
    -webkit-transform: rotate(-3deg);   
    transform: rotate(-3deg);
}

#about .arrow {
    display: block;
    position: absolute;
    right: 0;
    font-size: 2rem;
    color: var(--darkTwo);
}

article {
    cursor: pointer;
}

#my-learning .container{
    display: grid;
    position:relative;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit,1fr);
    grid-gap: 20px;
    width: 100%;
    min-height: fit-content;
}

.box1 {
    grid-column-end: span 4;
    place-content: center;
    place-items: center;
}

.box1 .content{
    max-width: 95%;
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.box .item1{
    align-self: flex-start;
}

.box .resume{
    align-self: flex-end;
}

#my-learning .arrow {
    display: block;
    position: absolute;
    right: 0;
    font-size: 2rem;
    color: var(--darkTwo);
}


#project-section .container{
    position: relative;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: center;
    align-items: center;
    gap:20px;
    margin-bottom: 5rem;
}

#project-section .details-container{
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    padding: 1.5rem;
    margin: 1.5rem 0;
    border: 2px solid var(--darkOne);
    border-radius: 2rem;
}

.article {
    display: -webkit-flex;
    display:flex;
    flex-direction: column;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: center;
    align-items: center;
    color: var(--darkTwo);
}

#project-section .resume {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    -webkit-align-items: center;
    align-items: center;
    gap: 20px;
}

#project-section img {
    width: 300px;
    height: 300px;
    object-fit: fill;
    border-radius: 1rem;
}

.resume button{
    text-decoration: none;
    color:var(--darkTwo);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}

#project-section .arrow {
    display: block;
    position: absolute;
    right: 0;
    font-size: 2rem;
    color: var(--darkTwo)
}

.sub-heading{
    text-align: center;
    cursor: pointer;
}

#contact{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column;
    min-height: auto;
    height: auto;
    padding: 5rem 0;
    margin: 5rem 0;
}


#contact .container{
    width: 30vw;
}

.contact-info{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 2rem;
    background: var(--mainColor);
    margin: 2rem auto;
}

.contact-info-detail{
    display: -webkit-flex;
    display:flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 1rem;
}

.contact-info-detail .mail {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #0172b1;
}

.contact-info-detail .icon{
    cursor: default;
}

footer .container{
    position:relative;
    margin-top: 4rem;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: space-between;
}

footer .arrow {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    font-size: 2rem;
    color: var(--darkTwo)
}

footer .content{
    min-width: 100%;
    text-align: center;
}

.toggle-button{
    display: -webkit-flex;
    display: flex;
    border: none;
    background: var(--mainColor);
    color: var(--darkTwo);
    outline: none;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-left: 10px;
}

.whole-page.light .toggle-button i:last-child{
    display:none;
}

.whole-page.light .toggle-button i:first-child{
    display:block;
}

.whole-page.dark .toggle-button i:last-child{
    display: block;
}

.whole-page.dark .toggle-button i:first-child{
    display:none;
}

.toggle-button:hover{
    background-color: var(--hoverColor);
}

.copy{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes appear{
    0% {
        clip-path: circle(30% at -25% -25%);
    }
    100% {
        clip-path: circle(150% at 0 0);
    }
}

@media only screen and (max-width: 1300px) {
    .box1 {
        grid-column: span 2;
    }

    .box {
        grid-template-columns: 1fr;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 10ps;
    }

    .item1 .content{
        max-width: fit-content;
        margin: 0 20px;
    }

    #about .arrow{
        display: none;
    }
    #my-learning .arrow{
        display: none;
    }

    #project-section .arrow{
        display: none;
    }

    #contact .container{
    width: fit-content;
    }

    .contact-info{
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
    }

}
    

@media only screen and (max-width: 870px) {
    #home .container {
        grid-template-columns: 1fr;
    }

    .home-right {
        margin-top: 20px;
    }

    #about .container{
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .my-pic {
        max-width: 300px;
        max-height: 300px;
    }

    .brief {
        border: none;
        -webkit-transform: rotate(0deg);   
        transform: rotate(0deg);
    }

    .brief p{
        -webkit-transform: rotate(-0deg);   
        transform: rotate(-0deg);
    }

    .box1 {
        grid-column: span 1;
    }

    header .container{
        -webkit-justify-content: right;
        justify-content: right;
        -webkit-align-items: right;
        align-items: right;
    }   
    .hamburger-menu{
        display: -webkit-flex;
        display: flex;
    }

    .links{
        position: fixed;
        z-index:95;
        top: 0;
        right:0;
        max-width: 450px;
        width: 100%;
        height: 100%;
        background-color: var(--mainColor);
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .links ul{
        flex-direction: column;
    }

    .links li{
        margin-left: 0;
        padding: 2rem 0;
    }

    .overlay{
        display: block;
        position: fixed;
        top: 0;
        bottom:0;
        left:0;
        right:0;
        border-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) fill 1;
        opacity: 0;
        pointer-events: none;
    }

    .whole-page.active .links{
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-box-shadow: 0 0 50px 2px rgba(0,0,0,0.4);
        box-shadow: 0 0 50px 2px rgba(0,0,0,0.4);
    }

    .whole-page.active .overlay{
        pointer-events: all;
        opacity: 1;
    }

    #project-section img {
        width: 180px !important;
        height: 250px !important;
        object-fit: fill;
        border-radius: 1rem;
    }
    
}


